body {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.charts-container {
  display: flex;
  gap: 20px;
}

svg {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px dotted #000;
}

#map-container {
  height: 400px;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 4px;
  pointer-events: none;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-overlay-pane svg {
  pointer-events: auto;
}

.flight,
circle {
  pointer-events: all;
}

/* YOUR CSS CODE GOES HERE */