body {
    height: 100%;
}

#map-container{
    height: 400px;
}
.tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

.leaflet-overlay-pane svg {
  pointer-events: auto;
}

.flight,
circle {
  pointer-events: all;
}
/* YOUR CSS CODE GOES HERE */